
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Outfit";
  src: url(../src/font/Outfit-Regular.ttf) format("trutype");
}

@font-face {
  font-family: "Outfit-bold";
  src: url(../src/font/Outfit-ExtraBold.ttf) format("trutype");
}

body {
  font-family: "Outfit";
  background-color: #fff;
  color: #111;
  line-height: 1.6;
}

/* Utils */
.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */
.containerBlanco {
  background: #ffffff;
  border-radius: 0% 0% 0% 0%;
  padding-bottom: 20vh;
}

.bannerAzul {
  background: linear-gradient(to right, #004c57, #00686e);
  border-radius: 0px 0px 60px 60px;
  height: 80vh;
}

.header {
  padding: 0px 30px;
  max-width: 1920px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.nav a {
  padding-left: 15px;
}
.perfil {
  display: flex;
  align-items: center;
}

#MiCuenta {
  text-decoration: none;
  color: white;
  font-size: 13px;
  transition: 0.4s;
}
#MiCuenta:hover {
  font-size: 15px;
  padding: 10px;
}
#icono-perfil {
  width: 30px;
  padding: auto;
}

.logo {
  width: 150px;
}

/* Hero */

.bannerInicial {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

#contenedor-texto {
  background-color: #ffffff;
  width: 100%;
  max-width: 750px;
  height: 150px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  border-radius: 40px;
  position: absolute;
  z-index: 2;
  right: 50%;
  top: 380px;
  transform: translateX(50%);
}

.hero-img {
  width: 450px;
}

.hero-text h2 {
  font-size: 36px;
  line-height: 0.8;
  text-align: left;
  color: white;
  padding-bottom: 40px;
}

.hero-text h2 p {
  font-size: 90px;
}

.hero-text span {
  font-weight: bold;
}

.btn {
  background-color: #00b8a9;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  transition: all ease-in-out 0.5s;
}
.btn:hover {
  /* padding: 15px 25px 15px 25px; */
  /* font-size: 18px; */
  transform: scale(1.05);
  background-color: #038fa5;
}

/* Features */
.features {
  padding: 80px 0px;
  text-align: center;
  justify-items: center;
  align-self: center;
  
}



.features-grid {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  flex-wrap: wrap;
}

.feature {
  max-width: 300px;
  margin: 9px;
  transition: 0.5s ease;
   
}
.feature:hover {
    padding: 20px 0px;
   
}
.feature a{
  text-decoration: none;
}

.feature h4 {
  font-size: 25px;
  color: #004c57;
}

.feature p {
  font-size: 15px;
  color: #000000;
  line-height: 1;
}

/* CTA */

.contenedorTarjeta {
  position: relative;
}
.fondoblancoCta {
  /* height: 300px; */
  padding-bottom: 90px;
  align-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cta {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
  position: absolute;
  z-index: 2;
  top: -20px;
  right: 50%;
  transform: translateX(50%);
}



#tarjeta-cta {
  width: 400px;
}

.copyCTA {
  width: 300px;
}

.copyCTA h3 {
  line-height: 1;
}

.copyCTA h3 p {
  font-size: 25px;
  padding-top: 1px;
}

.copyCTA p {
  font-size: 28px;
}

.cta .btn {
  background-color: #00b8a9;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  transition: all ease-in-out 0.25s;
}

.cta .btn:hover {
  /* padding: 15px 19px 15px 19px; */
  transform: scale(1.05);
  background-color: #038fa5;
}

.fondoAzulCta {
  background-color: #004c57;
  border-radius: 60px;
  width: 100%;
  max-width: 850px;
  height: 250px;
  /* box-shadow: desplazamientoX desplazamientoY desenfoque extensión color; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

/* Legal Section */
.legal {
  padding: 30px 20px;
  text-align: center;
  align-content: center;
}

.legal p {
  font-size: 10px;
}

.logos-legal {
  display: flex;
  justify-content: center;
}

.logos-legal img {
  width: 120px;
}

/* Footer */
.footer {
  background: linear-gradient(to right, #004c57, #00686e);
  color: white;
  padding: 40px 20px;
  justify-content: center;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
}

.footer-columns div {
  padding: 0px 50px 0px 50px;
}

.footer-columns h5 {
  margin-bottom: 10px;
}

.footer-columns ul {
  list-style: none;
  font-size: 10px;
}

.footer-columns li {
  margin-bottom: 5px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  /* Hero */

  .bannerAzul {
    height: 100vh;
  }

  .hero-img{
    width: 300px;
  }
  #contenedor-texto {
    width: 95%;
    top: 72%;
  }

  .bannerInicial {
    flex-direction: column;
  }

  .fondoAzulCta {
    height: 370px;
  }
  .cta {
    flex-direction: column;
    margin: 0 auto;
  }
}
#whatsapp-flotante {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

#whatsapp-flotante img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.8s;
}
#whatsapp-flotante img:hover {
  transform: scale(1.3);
}
.modalTC {
   display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); 
}

.modal-contentTC {
 background-color:  #00686e;
  color: white;
  margin: 2% auto;
  padding: 12px;
  border-radius: 12px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 20.2);
  max-width: 600px;
}

.closeTC {
position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.oculto {
  display: none;
}
#formSolicitudTC input[type="text"] {
  width: 60%;
  padding: 5px 12px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

#formSolicitudTC button[type="submit"] {
  width:160px;
  padding: 12px;
  background-color: #28a745;
  color: #eaeff0;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin: 10px;
}
#imagenModal{
  width: 180px;
}

.modalContactenos {
   display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); 
}

.modal-contentContactenos {
 background-color:  #00686e;
  color: white;
  margin: 2% auto;
  padding: 12px;
  border-radius: 12px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 20.2);
  max-width: 600px;
}

.closeContactenos {
position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
#formContactenos input[type="text"] {
  width: 60%;
  padding: 5px 12px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

#formContactenos button[type="submit"] {
  width:160px;
  padding: 12px;
  background-color: #28a745;
  color: #eaeff0;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin: 10px;
}
#imagenModal{
  width: 180px;
}
#RedesSociales a{
  color: white;
  text-decoration: none;
}